name: Generate Platforms

on:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.2"
      - run: flutter create . --platforms=android,ios
      - uses: actions/upload-artifact@v4
        with:
          name: platforms
          path: |
            android
            ios
